/* CSS for profile page */
.title {
  text-transform: uppercase;
  color: grey;
}
.title_value {
  text-transform: capitalize;
  color: black;
}
.title_value_badge {
  background-color: #007bff;
}
.title_value_smallcase {
  text-transform: lowercase;
}