/* CSS for profile page */
.title {
  text-transform: uppercase;
  color: grey;
}
.title_value {
  text-transform: capitalize;
  color: black;
}
.title_value_badge {
  background-color: #007bff;
}
.title_value_smallcase {
  text-transform: lowercase;
}
a.edit_link {
  color: #007bff;
}

a.edit_link:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}